* {
    box-sizing: border-box;
}
.paintRow {
    display: flex;
    width: fit-content;
    flex-direction: row;
}
.paintCell {
    width: 10px;
    height: 10px;
    /* border: 1px black solid; */
    user-select: none;
}
#paintMain {
    position: relative;
    background-image: url("../assets/image/alpha.png");
    image-rendering: pixelated;
}
.controls {
    display: flex;
    flex-direction: column;
    width: 300px;
    position: absolute;
    right: 0;
    top: 0;
    background-color: wheat;
    border: 1px black solid;
    height: 100vh;
}
.sizeInput{
    width: 30%;
    text-align: center;
}
#paint {
    width: 100vh;
    height: 100%;
    overflow: scroll;
    overflow: none;
    border: 1px black solid;
    overflow: hidden;
    /* background: linear-gradient(
        45deg,
        rgba(59, 59, 59, 1) 0%,
        rgba(199, 199, 199, 1) 51%
    ); */
    background-color: rgb(82, 82, 82);
}
#main {
    padding: 10px;
    width: 100vw;
    height: 100vh;
}
body {
    background-color: wheat;
    padding: 0;
    margin: 0;
    overflow: hidden;
}

.tools{
    width: 50%;
    border: 1px black solid;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}
.tools img{
    width: 40%;
    image-rendering: pixelated;
    border: 1px black solid;
    margin: 3%;
    -webkit-user-drag: none;
    user-drag: none;
    cursor: pointer;
}
.tools .select{
    background-color: rgb(185, 168, 137);
}

#colorAlphaNum{
    width: 30%;
}
.color{
    width: 100%;
}